html {
  height: 100%;
  width: 100;

}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.navbar {

  background-color: rgb(52, 52, 52);


}

a.active {
  background-color: blue;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.line {
  width: 35px;
  height: 5px;
  background-color: white;
 

}

.marginLine{
   margin: 6px 0;
}

.dropbtn {
  border: none;
background-color:  rgb(52, 52, 52);
  
}

.dropdown {
  margin-left:0;
  position: relative;
  display: inline-block;
  cursor: pointer;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1; 
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a.ok {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a.ok:hover {
  background-color: #E2DFD2;
}

.show {
  display: block;
}


.txt {
  padding: 10px;
  font-size: 25px;
  color: orange;
}

.search {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 100px;
  border: none;
  font-size: 17px;

}

footer {
 margin-top: 50px;
  background: black;
  height: auto;
  width: 100vw;
  padding: 40px 0 0 0;
}

.footer {
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer p {
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  text-decoration: none;
  color: #fff;
  border: 1.1px solid white;
  padding: 5px;
  border-radius: 50%;
}

.socials a i {
  font-size: 1.1rem;
  width: 20px;
  transition: color .4s ease;
}

.socials a:hover i {
  color: dodgerblue;
}

.footer-copyright {
  background: #000;
  width: 100vw;
  padding: 20px 20px 50px 20px;
}

.footer-copyright p {
  color: #36454F;
  font-size: 20px;
  word-spacing: 2px;
  align-items: center;
  justify-content: center;
}

.search:hover {
  background-color: darkorange;
}


.leftNavPart {
  float: left;
}

.navSearch {
  float: right;
}

.close:hover {
  color: red !important ;
}
#returnHome {
  background-color: #007bff;
  border-color: #007bff;
}

#returnHome:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}
/* Dark Mode Styles */
body.dark-mode {
  background-color: #121212;
  color: white;
}

.navbar.dark-mode {
  background-color: #333;
}

.card.dark-mode {
  background-color: #333;
  color: white;
}

footer.dark-mode {
  background-color: #333;
}
